#Azure OpenAI credentials
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_TEXT_DEPLOYMENT=
AZURE_OPENAI_VISION_DEPLOYEMNT=
AZURE_OPENAI_TRANSCRIBE_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=

#AI Extraction settings
AI_EXTRACTION_ENABLED=true
AI_CONFIDENCE_THRESHOLD=0.85
AI_MAX_INPUT_CHARACTERS=60000
